In [3]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, IntegerType, StringType, FloatType
from pyspark.sql.types import Row
from pyspark.sql import SQLContext

In [4]:
spark = SparkContext(master='local', appName='Dataframes')
sqlContext = SQLContext(spark)

In [6]:
!ls files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista2.csv  evento.csv	      paises.csv
deportista.csv	 juegos.csv	      resultados.csv

In [10]:
path = 'files/'

In [8]:
!head -n 5 files/juegos.csv

,nombre_juego,annio,temporada,ciudad
1,1896 Verano,1896,Verano,Athina
2,1900 Verano,1900,Verano,Paris
3,1904 Verano,1904,Verano,St. Louis
4,1906 Verano,1906,Verano,Athina

In [9]:
juegoSchema = StructType(
    [
        StructField('juego_id',IntegerType(), False),
        StructField('anio', StringType(), False),
        StructField('temporada',StringType(), False),
        StructField('ciudad', StringType(), False)
    ]
)

In [11]:
juegoDF = sqlContext.read.schema(juegoSchema).option('header','true').csv(path+'juegos.csv')

In [12]:
juegoDF.take(2)

[Row(juego_id=1, anio='1896 Verano', temporada='1896', ciudad='Verano'),
 Row(juego_id=2, anio='1900 Verano', temporada='1900', ciudad='Verano')]

In [13]:
juegoDF.show(4)

+--------+-----------+---------+------+
|juego_id|       anio|temporada|ciudad|
+--------+-----------+---------+------+
|       1|1896 Verano|     1896|Verano|
|       2|1900 Verano|     1900|Verano|
|       3|1904 Verano|     1904|Verano|
|       4|1906 Verano|     1906|Verano|
+--------+-----------+---------+------+
only showing top 4 rows

In [14]:
spark